<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team 7</title>
    <link rel="stylesheet" href="/css/style.css"/>

    <script src="/script/script.js"></script>
</head>

<body>
<div id="popupContainer" class="popup-container"></div>

<!-- 페이지네이션 버튼 -->
<div class="pagination">
    <form action="/1">
        <button type="submit">1</button>
    </form>
    <form action="/2">
        <button type="submit">2</button>
    </form>
</div>


<!-- 레이어 팝업 ADD-->
<form id="popup" class="popup" method="post" th:object="${adForm}" action="/contract/create">
    <select name="CompanyId" id="addCompanyName" class="form-control">
        <option value="" disabled="disabled" selected="selected">회사선택</option>
        <option th:each="advertiser : ${advertisers}"
                th:value="${advertiser.id}"
                th:text="${advertiser.name}"/>
    </select>
    <!--    <div>회사명: <input th:field="*{name}" id="addCompanyName"/></div>-->
    <div>광고제목: <input th:field="*{title}" id="addADName"/></div>
    <div>광고URL: <input th:field="*{url}" id="addADUrl"/></div>
    <div>광고설명: <input th:field="*{content}" id="addADContent"/></div>
    <div>나이: <input th:field="*{age}" id="addAgeCondition"/></div>
    <select name="Gender" , id="addGenderCondition">
        <option value="" disabled="disabled" selected="selected">성별 선택</option>
        <option value="male">남성</option>
        <option value="female">여성</option>
    </select>
    <!--    <div>성별: <input th:field="*{gender}" id="addGenderCondition"/></div>-->
    <!--    <div>슬롯위치: <input th:field="*{slotPosition}" id="addSlot"/></div>-->
    <select name="Slot" , id="addSlot">
        <option value="" disabled="disabled" selected="selected">slot 위치 선택</option>
        <option value="top">top</option>
        <option value="bottom">bottom</option>
    </select>
    <div>노출 횟수: <input th:field="*{price}" id="addCost"/></div>
    <!--    <div>만료일: <input th:field="*{endDate}" id="addDayEnd"/></div>-->
    <div class="buttonBox">
        <div>
            <button id="closePopup" type="button" onclick="closePopup('closePopup','popup')">닫기</button>
            <button id="confirmAdd" type="submit" onclick="confirmAdd()">확인</button>
        </div>
    </div>
</form>

<div id="popupDetail" class="popup">
    <div>상세 페이지</div>
    <div>회사명:</div>
    <div>광고제목:</div>
    <div>광고조건:</div>
    <div>슬롯위치:</div>
    <div>비용:</div>
    <div>시작일:</div>
    <div>만료일:</div>
    <button id="closePopupDetail" type="button" onclick="closePopup('closePopupDetail','popupDetail')">닫기</button>
</div>


<!-- 제목 -->
<h2 class=mainTitle>AD Manager Platform - AD List</h2>
<div class=levelBox>
    <div class="buttonLevel">
        <button id=ADDButton type="button" onclick="clickADDButton()">ADD</button>
        <span></span>
        <button id=ADTestButton>AD Test</button>
    </div>
    <div class="searchLevel">
        <select id="searchSelect">
            <option>title</option>
            <option>text</option>
        </select>
        <input id="searchInput" type="text" value="여기에 쓰세요"/>
        <button type="button">검색</button>
    </div>
    <!-- 테이블 -->
    <div class="tableLevel">
        <table id="ADTable">
            <thead>
            <tr>
                <td>idx</td>
                <td>advertiser</td>
                <td>text</td>
                <td>Exposure datetime</td>
                <td>count</td>
                <td>regdate</td>
                <td>action</td>
            </tr>
            </thead>
            <tbody>
            <tr id="tableRow" th:each="ad : ${ads}">
                <td id="idx" th:text="${ad.id}"></td>
                <td id="advertiser" th:text="${ad.getContracts().getAdvertiser().getName()}"></td>
                <td id="text" th:text="${ad.text}"></td>
                <td id="EDT"><span th:text="${ad.getContracts().getStartDate()}"/> ~ <span
                        th:text="${ad.getContracts().getEndDate()}"/></td>
                <td id="count" th:text="${ad.price}"></td>
                <td id="regdate" th:text="${ad.getContracts().getStartDate()}"></td>
                <td id="action2">
                    <button type="button" th:value="${ad.id}" onclick="clickDetail(value)">상세</button>
                    <button type="button" onclick="clickModify()">수정</button>
                    <button type="button" onclick="clickDelete()">삭제</button>
                    <form action="/detail/21">
                        <button type="submit">상세!!</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
