<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team 7</title>
    <link rel="stylesheet" href="/css/ss.css"/>

    <script src="/script/script.js"></script>
</head>

<body>
<div id="popupContainer" class="popup-container"></div>

<!-- 레이어 팝업 ADD-->
<form id="popupAdd" class="popup" method="post" th:object="${adForm}" action="/contract/create">
    <select name="CompanyId" id="addCompanyName" class="form-control">
        <option value="" disabled="disabled" selected="selected">회사선택</option>
        <option th:each="advertiser : ${advertisers}"
                th:value="${advertiser.id}"
                th:text="${advertiser.name}"/>
    </select>
    <!--    <div>회사명: <input th:field="*{name}" id="addCompanyName"/></div>-->
    <div>광고제목: <input th:field="*{title}" id="addADName" placeholder="광고제목"/></div>
    <div>광고URL: <input th:field="*{url}" id="addADUrl"/></div>
    <div>광고설명: <input th:field="*{content}" id="addADContent"/></div>
    <div>나이: <input th:field="*{age}" id="addAgeCondition"/></div>
    <select name="Gender" , id="addGenderCondition">
        <option value="" disabled="disabled" selected="selected">성별 선택</option>
        <option value="male">남성</option>
        <option value="female">여성</option>
    </select>
    <!--    <div>성별: <input th:field="*{gender}" id="addGenderCondition"/></div>-->
    <!--    <div>슬롯위치: <input th:field="*{slotPosition}" id="addSlot"/></div>-->
    <select name="Slot" , id="addSlot">
        <option value="" disabled="disabled" selected="selected">slot 위치 선택</option>
        <option value="top">top</option>
        <option value="bottom">bottom</option>
    </select>
    <div>노출 횟수: <input th:field="*{price}" id="addCost"/></div>
    <div>만료일: <input type="date" th:field="*{endDate}"/></div>
    <!--    <div>만료일: <input th:field="*{endDate}" id="addDayEnd"/></div>-->
    <div class="buttonBox">
        <div>
            <script>function closePopup2(popupId) {
                closePopupContainer();
                document.getElementById(popupId).style.display = 'none';
            }
            </script>
            <button id="closePopup" type="button" onclick="closePopup2('popupAdd')">닫기</button>
            <button id="confirmAdd" type="submit" onclick="closePopup2('popupAdd')">확인</button>
        </div>
    </div>
</form>
<!--레이어팝업 상세-->
<!--<div id ="popupDetail" class="popup">-->
<!--    <div>상세 페이지</div>-->
<!--    <div>회사명: </div>-->
<!--    <div>광고제목: </div>-->
<!--    <div>광고조건: </div>-->
<!--    <div>슬롯위치: </div>-->
<!--    <div>비용: </div>-->
<!--    <div>시작일: </div>-->
<!--    <div>만료일: </div>-->
<!--    <button id="closePopupDetail" type="button" onclick="closePopup('popupDetail')">닫기</button>-->
<!--</div>-->

<!--레이어팝업 수정-->

<form id="popupModify" class="popup" method="post" th:object="${adForm}" action="/ad/edit">
    <input type="hidden" th:value="${adId}"/>
    <select name="CompanyId" id="modifyCompanyName" class="form-control">
        <option value="" disabled="disabled" selected="selected">회사선택</option>
        <option th:each="advertiser : ${advertisers}"
                th:value="${advertiser.id}"
                th:text="${advertiser.name}"/>
    </select>
    <!--    <div>회사명: <input th:field="*{name}" id="addCompanyName"/></div>-->
    <div>광고제목: <input th:field="*{title}" id="modifyADName"placeholder="광고제목"/></div>
    <div>광고URL: <input th:field="*{url}" id="modifyADUrl"/></div>
    <div>광고설명: <input th:field="*{content}" id="modifyADContent"/></div>
    <div>나이: <input th:field="*{age}" id="modifyAgeCoxndition"/></div>
    <select name="Gender" , id="modifyGenderCondition">
        <option value="" disabled="disabled" selected="selected">성별 선택</option>
        <option value="male">남성</option>
        <option value="female">여성</option>
    </select>
    <!--    <div>성별: <input th:field="*{gender}" id="addGenderCondition"/></div>-->
    <!--    <div>슬롯위치: <input th:field="*{slotPosition}" id="addSlot"/></div>-->
    <select name="Slot" , id="modifySlot">
        <option value="" disabled="disabled" selected="selected">slot 위치 선택</option>
        <option value="top">top</option>
        <option value="bottom">bottom</option>
    </select>
    <div>노출 횟수: <input th:field="*{price}" id="modifyCost"/></div>
    <div>만료일: <input type="date"/></div>
    <!--    <div>만료일: <input th:field="*{endDate}" id="addDayEnd"/></div>-->
    <div class="buttonBox">
        <div>
            <script>function closePopup2(popupId) {
                closePopupContainer();
                document.getElementById(popupId).style.display = 'none';
            }
            </script>
            <button  type="button" onclick="closePopup2('popupModify')">닫기</button>
            <button  type="submit" onclick="closePopup2('popupModify')">확인</button>
        </div>
    </div>
</form>
<!--레이어팝업 삭제-->
<div id="popupDelete" class="popup">
    <div>삭제하시겠습니까?</div>
    <button id="cancelPopupDelete" type="button" onclick="closePopup('popupDelete')">취소</button>
    <button id="closePopupDelete" type="button" onclick="closePopup('popupDelete')">삭제</button>
</div>
<!--레이어 팝업 ADTest-->
<div id="popupAdTest" class="popup">
    <div id="popupAdTestBox">
        <div id="popupAdTestTargetBox">
            <div>Target</div>
            <input id="testAdUserId" type="text" value="여기에 쓰세요" />
            <button id="submitUserId" type="button" >제출</button>

        </div>
        <div>
            <div>Result</div>
            <div id="ADTestResultBox"></div>
            <div>
                <button type="button">Web View</button>
                <button type="button" onclick="closePopup('popupAdTest')">닫기</button>
                <button type="button">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- 제목 -->
<h2 class=mainTitle>AD Manager Platform - AD List</h2>
<div class=levelBox>
    <div class="buttonLevel">
        <button id=ADDButton type="button" onclick="openPopup('popupAdd')">ADD</button>
        <span></span>
        <button id=ADTestButton type="button" onclick="openPopup('popupAdTest')">AD Test</button>

    </div>
    <div class="searchLevel">
        <select id="searchSelect">
            <option>검색조건선택</option>
            <option>advertiser</option>
            <option>text</option>
        </select>
        <input id="searchInput" type="text" placeholder="여기에 쓰세요"/>
        <button type="button">검색</button>
    </div>
    <!-- 테이블 -->
    <div class="tableLevel">
        <table id="ADTable">
            <thead>
            <tr>
                <td>idx</td>
                <td>advertiser</td>
                <td>text</td>
                <td>Exposure datetime</td>
                <td>count</td>
                <td>regdate</td>
                <td>action</td>
            </tr>
            </thead>
            <tbody>
            <tr id="tableRow" th:each="ad : ${ads}">
                <td id="idx" th:text="${ad.id}"></td>
                <td id="advertiser" th:text="${ad.getContracts().getAdvertiser().getName()}"></td>
                <td id="text" th:text="${ad.text}"></td>
                <td id="EDT"><span th:text="${ad.getContracts().getStartDate()}"/> ~ <span
                        th:text="${ad.getContracts().getEndDate()}"/></td>
                <td id="count" th:text="${ad.price}"></td>
                <td id="regdate" th:text="${ad.getContracts().getStartDate()}"></td>
                <td id="action">
                    <form name="detailForm" action="/">
                        <button type="submit">상세</button>
                    </form>
                    <script>
                        const adId=[[${ad.id}]];
                        toDetail(adId);
                    </script>
                    <button type="button" onclick="openPopup('popupModify')">수정</button>
                    <button type="button" onclick="openPopup('popupDelete')">삭제</button>

                </td>
            </tr>
            </tbody>
        </table>
        <!-- 페이지네이션 버튼 -->
    </div>
    <div class="paginationLevel">
        <span></span>
        <div>
            <!--            <form name="toEx" action="/">-->
            <!--                <button id="toEx" type="submit" ><</button>-->
            <!--            </form>-->
            <form name="exexForm" action="/">
                <button id="exexButton" type="submit"></button>
            </form>
            <form name="exForm" action="/">
                <button id="exButton" type="submit"></button>
            </form>
            <form name="curForm"  action="/">
                <button id="curButton" type="submit"></button>
            </form>
            <form   name="postForm" action="/">
                <button id="postButton" type="submit"></button>
            </form>
            <form  name="postpostForm" action="/">
                <button id="postpostButton" type="submit"></button>
            </form>
            <!--            <form name="toPost" action="/">-->
            <!--                <button id="toPost" type="submit">></button>-->
            <!--            </form>-->
            <!--            <form id="toEndPage" th:action="@{/}">-->
            <!--                <input type="hidden" th:field="*{totalNum}" />-->
            <!--                <button type="submit">마지막으로</button>-->
            <!--            </form>-->
            <script th:inline="javascript">
                let totalNum = [[${totalNum}]];
                let endPage = Math.floor(totalNum / 5)+1;
                let curPage = [[${pageNum}]];
                //document.getElementById("toEndPage").action = '/' + endPage;
                pageButton(endPage,curPage);

            </script>
            <!--        <form id="toEndPage" th:value="${totalNum}" action="/">-->
            <!--            <script>-->
            <!--                var endPage = document.getElementById("toEndPage").value/5;-->
            <!--                document.querySelector('form').action = '/' + endPage;-->
            <!--            </script>-->

            <!--            <button type="submit">마지막으로</button>-->
            <!--        </form>-->

        </div>
        <span></span>
    </div>
</div>

</body>
</html>
