<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="userInfoModal" class="uesrInfoModal" >
    <form id="popupAdTest" class="popup" name="userForm" method="get" action="/ad/test" th:object="${userForm}">
        <div id="popupAdTestBox">
            <div id="popupAdTestTargetBox">
                <div>Target</div>
                <select name="testAdUserId" id="testAdUserId" onchange="clickSubmit(this.value)">
                    <option value="Null" disabled="disabled" selected="selected">타겟유저선택</option>
                    <option th:each="user: ${users}"
                            th:value="${user.id + '|' + user.age + '|' + user.gender}"
                            th:text="${user.id}"/>
                </select>
            </div>
            <div>
                <div>Result</div>
                <div id="ADTestResultUserId">유저 아이디 : <input id="TestResultId" readonly="readonly"/></div>
                <div id="ADTesTResultAge">유저 나이 : <input id="TestResultAge" readonly="readonly" th:field="*{age}"/></div>
                <div id="ADTesTResultGender">유저 성별 : <input id="TestResultGender" readonly="readonly" th:field="*{gender}"/></div>
                <div>
                    <button type="submit">Web View</button>
                    <button type="button" onclick="closePopup('popupAdTest')">닫기</button>
                </div>
            </div>
        </div>
    </form>
</div>
</html>
