body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    min-height: 100vh;
    background-color: white;
    align-items: center;
}
.mainTitle {
    margin-top: 100px;
    text-align: center;
    flex-grow: 0;
}
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    flex-flow: column;
    justify-content: space-around;
}
.popup div {
    margin-bottom: 10px;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.levelBox {
    align-items: center;
    flex-grow: 1;
}

.buttonLevel {
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
    display: flex;
    margin-bottom: 20px;
}
.buttonLevel > span {
    margin: 10px;
}

#ADDButton {
    flex-grow: 1;
}
#ADTestButton {
    flex-grow: 1;
}
.buttonBox{
    display: flex;
    justify-content: space-around;
}
.buttonBox>div{
    flex-grow: 1;
}
.buttonBox>form{
    flex-grow: 1;
}
#popupDetail{
    display: none;
}

.searchLevel {
    align-items: center;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
#searchSelect {
    flex-grow: 1;
}
#searchInput {
    flex-grow: 1;
}
.tableLevel {
    align-items: center;
    flex-grow: 6;
}
#ADTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid dodgerblue;
}
#ADTable td {
    padding: 5px;
    border-top: 1px solid dodgerblue;
    border-bottom: 1px solid dodgerblue;

    text-align: center;
}
#action1{
    display:none;
}
#ADTestResultBox{
    min-height: 100px;
    min-width: 100px;
    border: 1px solid black
}
#popupAdTestTargetBox{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
#popupAdTestBox{
    display: flex;
    flex-flow: column;
}
